<a href="https://colab.research.google.com/github/2pterons/twigfarm/blob/main/branch_data_random_sampling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# branch data randomsampling

In [ ]:
import pandas as pd

In [ ]:
%cd /content/drive/MyDrive/Colab Notebooks/트위그팜/자연스러운 한국어/data/
_0 = pd.DataFrame()
_1 = pd.DataFrame()

_0 = pd.read_csv('test.0.csv')
_0.columns = ['document']

_1 = pd.read_csv('test.1.csv')
_1.columns = ['document']

/content/drive/MyDrive/Colab Notebooks/트위그팜/자연스러운 한국어/data

In [ ]:
_0.head()

                        document
0       "물론, 나는 당시에 음식을 전혀 못했다."
1      해먹은 음식은 모두 그 친구의 손을 거쳐갔다.
2       어떻게 음식을 만드는지 구경만 했을 뿐이다.
3   고기를 굽거나 야채 손질을 조금 도와주는 정도였다.
4  전통시장인 '질료니 바자르'로 가기로 마음을 먹었다.

In [ ]:
_1.head()

                                document
0          "당연히 그 당시에는 음식을 전혀 먹지 않았습니다."
1              해먹의 모든 음식은 친구의 손을 통과했습니다.
2                음식이 어떻게 만들어지는지 구경만 했어요.
3  고기를 굽거나 야채를 손질하는 데 조금 도움이 되기에 충분했습니다.
4               재래시장 '질리오니 바자'에 가기로 했어요.

In [ ]:
_0['label'] = 0
_1['label'] = 1

In [ ]:
_0.head()

                        document  label
0       "물론, 나는 당시에 음식을 전혀 못했다."      0
1      해먹은 음식은 모두 그 친구의 손을 거쳐갔다.      0
2       어떻게 음식을 만드는지 구경만 했을 뿐이다.      0
3   고기를 굽거나 야채 손질을 조금 도와주는 정도였다.      0
4  전통시장인 '질료니 바자르'로 가기로 마음을 먹었다.      0

In [ ]:
_1.head()

                                document  label
0          "당연히 그 당시에는 음식을 전혀 먹지 않았습니다."      1
1              해먹의 모든 음식은 친구의 손을 통과했습니다.      1
2                음식이 어떻게 만들어지는지 구경만 했어요.      1
3  고기를 굽거나 야채를 손질하는 데 조금 도움이 되기에 충분했습니다.      1
4               재래시장 '질리오니 바자'에 가기로 했어요.      1

In [ ]:
_0.to_csv('test_0_labeling.csv')
_1.to_csv('test_1_labeling.csv')

In [ ]:
len(_0), len(_1)

(89022, 89022)

In [ ]:
_random = _0_1.sample(frac=1).reset_index(drop=True)

In [ ]:
_random.head()

                                     document  label
0          “때로는 내가 살고 있는 집이 내가 살고 있는 집이 아니다.”      1
1  그리고 그 동네 호텔들이 만실이었고 칼라오 호텔은 에어컨 방만이 남아있었다.      0
2                   매일의 삶이 되다 보니 경계가 무너진 것이다.      0
3         그 순간, 수시로 알렙의 생각을 막고 있던 벽이 무너져 내렸다.      1
4            말 그대로 돈이 휴지조각되는과정을 생생하게 목격한 것이다.      0

<br/><br/>

# Train, Test, Validation 데이터 나누기

In [ ]:
train_data = pd.DataFrame()
test_data = pd.DataFrame()
val_data = pd.DataFrame()

train_data['document'] = _random['document'][:106824]
train_data['label'] = _random['label'][:106824]

test_data['document'] = _random['document'][106824:142434]
test_data['label'] = _random['label'][106824:142434]

val_data['document'] = _random['document'][142434:]
val_data['label'] = _random['label'][142434:]

In [ ]:
#train_data.to_csv('labeling_train_data.csv', index=None)
#test_data.to_csv('labeling_test_data.csv', index=None)
#val_data.to_csv('labeling_val_data.csv', index=None)
#df.to_csv('pizza.txt', sep = '\t)
train_data.to_csv('t_train_data.csv', sep='\t')
test_data.to_csv('t_test_data.csv', sep='\t')
val_data.to_csv('t_val_data.csv', sep='\t')

In [ ]:
len(_random)

178044

In [ ]:
len(_0)

89022

In [ ]:
len(train_data), len(test_data), len(val_data)

(106824, 35610, 35610)

In [ ]:
35610 / 178044 * 100

20.000673990698928

In [ ]:
35610 * 2

71220

In [ ]:
178044 - 71220

106824

In [ ]:
106824 + 35610

142434

# concat() AND sample TEST

In [ ]:
_0_1 = pd.concat([_0,_1])
_0_1

                                                document  label
0                               "물론, 나는 당시에 음식을 전혀 못했다."      0
1                              해먹은 음식은 모두 그 친구의 손을 거쳐갔다.      0
2                               어떻게 음식을 만드는지 구경만 했을 뿐이다.      0
3                           고기를 굽거나 야채 손질을 조금 도와주는 정도였다.      0
4                          전통시장인 '질료니 바자르'로 가기로 마음을 먹었다.      0
...                                                  ...    ...
89017  남편이 가장 좋아하는 작가로 뽑힌 히가시노 게이고의 신작이 아닌 새로운 소설을 함께...      1
89018                      나는 '그녀에게는 계획이 있다'는 읽고 싶지 않았다.      1
89019                         그러나 히가시노 게이고의 펜은 어디에나 있었다.      1
89020    조금 두꺼운 편인데 천천히 읽어보니 '생각보다 괜찮네' 라는 생각이 먼저 들었습니다.      1
89021                                그리고 남편과 추억을 공유했습니다.      1

[178044 rows x 2 columns]

In [ ]:
_random1 = _0_1.sample(frac=1)
_random2 = _0_1.sample(frac=1).reset_index(drop=True)

<br/><br/>

### rest_indx 없이 섞을 경우 인덱싱 유지상태로 뒤죽박죽이 된다.

In [ ]:
_random1

                                                document  label
2583         이 노랫말을 ‘정진호 그림책 작가’는 지금 시대에 맞게 환경문제로 연결시켰다.      0
47555                   하지만 타고난 선한 성격 때문에 넘어지는 일이 거의 없다.      1
658                               소년은 손가락 끝으로 책을 꼭 쥐었다가,      0
28032              "공사가 시작되고 조만간 새로운 구조물이 화면에 나타날 것입니다."      1
76219         “그곳이 경상북도 영주시 부석면 봉황산 자락에 위치한 사찰인 부석사입니다.”      1
...                                                  ...    ...
9151                         보자마자 ‘이파라파냐무냐무’를 외쳐대기 시작했다.      0
52974                   "그래서 나는""초기에는 신경이 쓰였는데 이젠 안 그래."      0
58737    "산토리니는 하루 관광객을 8,000명으로 제한하는 방안까지 검토하고 있다고 한다."      0
44759  "왜, 그 프로파일러 이수정씨도 이해할 수 없는 대상에 대해 두려움을 느낀다고 하지...      0
6822       가족 중 누군가가 지어준 소중한 이름이 초등학교를 들어가기 전까지는 마냥 좋았다.      0

[178044 rows x 2 columns]

<br/><br/>

### reset_index() 메서드를 사용하면 인덱싱이 다시 처음부터 리셋되어 내림차순으로 정렬된다.

In [ ]:
_random2

                                                 document  label
0                               세 개의 국경을 넘어 노르웨이에 도착했습니다.      1
1                          즉, 음악과 영상의 완성도가 다소 부족하다”고 말했다.      1
2         덩치 크고 쪽수 많다고 깡패처럼 덤벼도 예전처럼 당하고만 있을 우리의 체력이 아니다.      0
3        조금만 호기심을 가지고 멈추었더라면 프레임을 벗어나 멋진 세상을 만날 수 있었을 텐데.      0
4                  회신은 살아 생전에 다하지 못한 효도로 큰 자책감과 후회로 가득하다.      0
...                                                   ...    ...
178039    "남한+북한 배우들과의 대사에서 사건의 전개, 원인 이런게 얼마나 많이 나오는데!!"      0
178040           아마도 평생에 걸쳐도 '정답'이라고 할 만한 것은 찾지 못할지도 모른다.      0
178041  그리고 거기에는 아무도 없었습니다(기적처럼 느껴졌습니다). 다행히 비는 저녁이 되어...      1
178042                   당신이 남긴 추억과 사진이 일상에 얼마나 영향을 미치나요?      1
178043                                                  ,      0

[178044 rows x 2 columns]

In [ ]:
len_random_0 = _random1[_random1['label'] == 0]
len_random_1 = _random1[_random1['label'] == 1]

In [ ]:
len(len_random_0), len(len_random_1)

(89022, 89022)

In [ ]:
_random2

                                               document  label
0                              "다만 내 방식대로 슬프고, 기쁠 뿐이다."      0
1          "초등학교 시절은 잘 기억이 나지 않지만, 중학교 때 피구를 한 기억은 난다."      0
2                     길가다가 예쁜 곳이 있으면 다 같이 내려서 그곳을 감상한다.      0
3                       회사를 갔다오면 그때까지 하는 수업이 없어서 못했었다..      0
4                   내부 인테리어 중에서 눈에 띄는 것 천장에 매달린 책 조명이다.      0
...                                                 ...    ...
89017                        나에게 머무는성장통은앞으로도지속될 숙제와 같다,      0
89018           나는 정지 상태로 멀찍이 서서 한참동안 그들의 뷔페 타임을 바라보았다.      0
89019  어떤 체제를 자연스럽게 받아들이는 ‘순응’이라는 단어는 정말 무서운 단어라고 생각한다.      0
89020                  작가는 자신이 글을 쓸 때의 모습을 이렇게 표현한 거구나.      0
89021                          현재 글은 이 브런치북에 소속되어 있습니다.      0

[89022 rows x 2 columns]

In [ ]:
kogpt2_kcc150_3_result[kogpt2_kcc150_3_result['Label'] == 1]['ko']

In [ ]:
sample(frac=1).reset_index(drop=True)