<a href="https://colab.research.google.com/github/2pterons/twigfarm/blob/main/overlaop_branch_data_random_sampling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# branch data randomsampling

In [ ]:
import pandas as pd
%cd /content/drive/MyDrive/Colab Notebooks/트위그팜/자연스러운 한국어/data/

/content/drive/MyDrive/Colab Notebooks/트위그팜/자연스러운 한국어/data

In [ ]:
_0 = pd.DataFrame()
_1 = pd.DataFrame()

_0 = pd.read_csv('raw_brunch_data.0.txt', sep='\n')
_0.columns = ['document']

_1 = pd.read_csv('raw_branch_data.1.csv')
_1.columns = ['document']

In [ ]:
len(_0)

999897

In [ ]:
_0.head()

                                           document
0                      15년 전 결혼 혼수로 장만한 중저가 가전제품이다.
1                 사람 나이로 치면 약 120살 정도가 되지 않을까 생각된다.
2  30대 초반에 혼수를 내손으로 모두 벌어서 손수 장만한 것들이라 더욱 애틋했던 것이다.
3         마흔 후반인 지금도 우리 집에는 내가 준비했던 혼수품이 여전히 남아 있다.
4                벌써 15년이나 된 것들이니, 처음처럼 마냥 산뜻하지는 않다.

In [ ]:
_1.head()

                                            document
0                        15년 전 결혼식을 위해 구입한 저가 가전입니다.
1                   인간의 나이로 환산하면 대략 120세 정도라고 생각합니다.
2  30대 초반에는 혼수상태를 모두 내 손으로 얻었고, 내 손으로도 만들 수 있는 것들...
3                    40대 후반인 지금도 내가 준비한 혼수상태가 집에 있다.
4                         벌써 15년이 흘렀으니 처음만큼 신선하진 않다.

In [ ]:
_1.head()

                                            document  label
0                        15년 전 결혼식을 위해 구입한 저가 가전입니다.      1
1                   인간의 나이로 환산하면 대략 120세 정도라고 생각합니다.      1
2  30대 초반에는 혼수상태를 모두 내 손으로 얻었고, 내 손으로도 만들 수 있는 것들...      1
3                    40대 후반인 지금도 내가 준비한 혼수상태가 집에 있다.      1
4                         벌써 15년이 흘렀으니 처음만큼 신선하진 않다.      1

In [ ]:
_0['label'] = 0
_1['label'] = 1

In [ ]:
len(_0), len(_1)

(999897, 998355)

In [ ]:
_0.to_csv('test_0_labeling.csv')
_1.to_csv('test_1_labeling.csv')

<br/><br/>

### 중복값 제거

In [ ]:
dupl = _0
#dupl.drop_duplicates(['document'])
#dupl.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
#첫번째만 남기고 중복 제거
dupl.drop_duplicates(['document'], keep='first', ignore_index=True, inplace=True)
#마지막만 남기기 dupl.drop_duplicates(['document'], keep='last')
#중복되는 값 모두 제거 dupl.drop_duplicates(['document'], keep=False)

In [ ]:
len(dupl)

48596

In [ ]:
dupl

                                                document
0                           15년 전 결혼 혼수로 장만한 중저가 가전제품이다.
1                      사람 나이로 치면 약 120살 정도가 되지 않을까 생각된다.
2       30대 초반에 혼수를 내손으로 모두 벌어서 손수 장만한 것들이라 더욱 애틋했던 것이다.
3              마흔 후반인 지금도 우리 집에는 내가 준비했던 혼수품이 여전히 남아 있다.
4                     벌써 15년이나 된 것들이니, 처음처럼 마냥 산뜻하지는 않다.
...                                                  ...
48591                       글 쓰는데 자신이 있다고 생각했는데 그게 아니었다.
48592                글을 쓰고싶은데 쓸 글이 없다는 건 정말 어려운 문제가 아닐까?
48593  내 안에 있는 글감과 외부세계의 글감을 끊임없이 떠올리고 생각하면서 글을 쓸 준비를...
48594                   조합하고 짜맞추면서 어떻게든 누더기 같은 글감을 끌어낸다.
48595                 그렇게 낚아올린 영감을 백지 위에 펼친다는 건 꽤나 재미있다.

[48596 rows x 1 columns]

In [ ]:
cleaned_0 = []
for overlap in _0['document']:
    if overlap not in cleaned_0:
        cleaned_0.append(overlap)

In [ ]:
len(cleaned_0)

48596

In [ ]:
cleaned_1 = []
for overlap in _1['document']:
    if overlap not in cleaned_1:
        cleaned_1.append(overlap)

In [ ]:
len(cleaned_1)

50941

In [ ]:
pd_cleaned_0 = pd.DataFrame()
pd_cleaned_1 = pd.DataFrame()

pd_cleaned_0['document'] = pd_cleaned_0
pd_cleaned_1['document'] = pd_cleaned_1

pd_cleaned_0['label'] = 0
pd_cleaned_1['label'] = 1

In [ ]:
pd.DataFrame(cleaned_0).to_csv('cleand_.txt', sep='\t')

In [ ]:
_0_1 = pd.concat([_0,_1])
_0_1

                                                document  label
0                           15년 전 결혼 혼수로 장만한 중저가 가전제품이다.      0
1                      사람 나이로 치면 약 120살 정도가 되지 않을까 생각된다.      0
2       30대 초반에 혼수를 내손으로 모두 벌어서 손수 장만한 것들이라 더욱 애틋했던 것이다.      0
3              마흔 후반인 지금도 우리 집에는 내가 준비했던 혼수품이 여전히 남아 있다.      0
4                     벌써 15년이나 된 것들이니, 처음처럼 마냥 산뜻하지는 않다.      0
...                                                  ...    ...
998350      특별히 힘든 하루를 보냈다면 그 날이 어제로 흘러갈 수 있는 내일이 필요합니다.      1
998351                  우리에게 필요한 것은 지금이며, 지금은 항상 새로워집니다.      1
998352        피로를 이기기 위해서는 체력이 필요했고, 마음은 회복력을 찾기 위해 바빴다.      1
998353                  흐르는 모든 사건에 의미를 부여하는 것은 바로 당신입니다.      1
998354                          그리고 여가는 보통 남은 체력에서 나옵니다.      1

[1046951 rows x 2 columns]

In [ ]:
_random = _0_1.sample(frac=1).reset_index(drop=True)

In [ ]:
_random.head()

                                document  label
0          나는 옷을 벗고 빨간 고무줄로 열쇠로 머리를 묶었다.      1
1                 이러한 박탈감은 삶의 질을 떨어뜨립니다.      1
2  괜히 심술이나 날씨 탓을 하며, 선뜻 발을 떼지 못하고 서 있었다.      0
3  사람 마음이 귀한 줄을 아는 사람만이 할 수 있는 고결한 품성이다.      0
4                 하지만 남자들은... 빨리 눈을 피한다.      1

In [ ]:
len(_random)

1998252

In [ ]:
dupl = _random
dupl.drop_duplicates(['document'], keep='first', ignore_index=True, inplace=True)

In [ ]:
dupl.sample(frac=1).reset_index(drop=True)

                                                document  label
0                            꽃길을 걷다 보니 여러 개나리 정원을 만났습니다.      1
1               이유가 무엇이든 간에 갑상선이 나를 잠들게 할 때 나는 잠을 자야 했다.      1
2                   우리는 종종 점이 선을 구성하고 선이 생명을 구성한다고 말합니다.      1
3      만약... 독일여자들이 아침에 와서 6시까지 머물고, 짐을 꾸리고, 집에 가서, 저...      1
4                               운동도 굳은 결심을 해놓고 간건 몇번이던가.      0
...                                                  ...    ...
99419         유명 건축가이자 북경대 교수인 동위간(東豫關) 교수가 초청돼 설계를 맡겼다.      1
99420            청상추는 정말 꽃처럼 피어있어,매번 잎을 뜯으며 미안한 기분이 들었다.      0
99421             나는 당신이 어느 시점에서 나에게서 멀어지기로 결정했는지 궁금합니다.      1
99422                       저희 가족도 그랬듯, 많은 사람들이 모를 것입니다.      0
99423         내가 편한 시간 내내 불편한 눈으로 나를 바라보는 사람은 단 한 명뿐이었다.      1

[99424 rows x 2 columns]

In [ ]:
len(dupl)

99424

In [ ]:
19885 / 99424 * 100

20.00020115867396

In [ ]:
19885 * 2

39770

In [ ]:
99424 - 39770

59654

In [ ]:
99424 - 59654

39770

In [ ]:
39770 / 2

19885.0

In [ ]:
39770 - 19885

19885

In [ ]:
59654 + 19885

79539

In [ ]:
train_data = pd.DataFrame()
test_data = pd.DataFrame()
val_data = pd.DataFrame()

train_data['document'] = dupl['document'][:59654]
train_data['label'] = dupl['label'][:59654]

test_data['document'] = dupl['document'][59654:79539]
test_data['label'] = dupl['label'][59654:79539]

val_data['document'] = dupl['document'][79539:]
val_data['label'] = dupl['label'][79539:]

In [ ]:
len(train_data),len(test_data),len(val_data)

(59654, 19885, 19885)

In [ ]:
train_data.to_csv('cleaned_train.txt', sep='\t')
test_data.to_csv('cleaned_text.txt', sep='\t')
val_data.to_csv('cleaned_val.txt', sep='\t')

<br/><br/>

# Train, Test, Validation 데이터 나누기

In [ ]:
train_data = pd.DataFrame()
test_data = pd.DataFrame()
val_data = pd.DataFrame()

train_data['document'] = _random['document'][:1198252]
train_data['label'] = _random['label'][:1198252]

test_data['document'] = _random['document'][1198252:1598252]
test_data['label'] = _random['label'][1198252:1598252]

val_data['document'] = _random['document'][1598252:]
val_data['label'] = _random['label'][1598252:]

NameError: ignored

In [ ]:
800000 / 1998252 * 100

40.03499058176846

In [ ]:
len(train_data), len(test_data), len(val_data)

(1198252, 400000, 400000)

In [ ]:
#train_data.to_csv('labeling_train_data.csv', index=None)
#test_data.to_csv('labeling_test_data.csv', index=None)
#val_data.to_csv('labeling_val_data.csv', index=None)
#df.to_csv('pizza.txt', sep = '\t)
train_data.to_csv('200_train_data.txt', sep='\t')
test_data.to_csv('200_test_data.txt', sep='\t')
val_data.to_csv('200_val_data.txt', sep='\t')

In [ ]:
#a = pd.DataFrame()
#a = pd.read_csv('200_val_data.txt', sep = "\t", names = ["id", "document", "label"])

a = pd.read_csv('200_train_data.txt', sep = "\t")
b = pd.read_csv('200_test_data.txt', sep = "\t")
c = pd.read_csv('200_val_data.txt', sep = "\t")
#names = ["id", "document", "label"]
#a.columns = names

In [ ]:
a.head()

   Unnamed: 0                                  document  label
0     1598252                             하루 종일 나를 웃게 해      1
1     1598253    그러나 모든 사람이 사랑받을 때 그들의 얼굴은 꽃처럼 아름다워집니다.      1
2     1598254  그렇지 않고 먹고 싶은 과자, 빵, 닭고기를 먹으면 지금 어떻게 될까요?      1
3     1598255          당신의 소원이 적힌 돌을 십자가 나무의 틈새에 놓으십시오.      1
4     1598256                 너무 놀라 잡고 있던 옥수수를 냉동댕이 쳤다.      0

In [ ]:
a.to_csv('200_train_data2.txt', sep='\t', index=None)
b.to_csv('200_test_data2.txt', sep='\t', index=None)
c.to_csv('200_val_data2.txt', sep='\t', index=None)

In [ ]:
1998252 - 800000

1198252

In [ ]:
1198252 + 400000

1598252

In [ ]:
len(_random)

178044

In [ ]:
len(_0)

89022

In [ ]:
len(train_data), len(test_data), len(val_data)

(106824, 35610, 35610)

In [ ]:
35610 / 178044 * 100

20.01749529088423

In [ ]:
35610 * 2

71220

In [ ]:
178044 - 71220

106824

In [ ]:
106824 + 35610

142434

# concat() AND sample TEST

In [ ]:
_random1 = _0_1.sample(frac=1)
_random2 = _0_1.sample(frac=1).reset_index(drop=True)

<br/><br/>

### rest_indx 없이 섞을 경우 인덱싱 유지상태로 뒤죽박죽이 된다.

In [ ]:
_random1

                                                document  label
2583         이 노랫말을 ‘정진호 그림책 작가’는 지금 시대에 맞게 환경문제로 연결시켰다.      0
47555                   하지만 타고난 선한 성격 때문에 넘어지는 일이 거의 없다.      1
658                               소년은 손가락 끝으로 책을 꼭 쥐었다가,      0
28032              "공사가 시작되고 조만간 새로운 구조물이 화면에 나타날 것입니다."      1
76219         “그곳이 경상북도 영주시 부석면 봉황산 자락에 위치한 사찰인 부석사입니다.”      1
...                                                  ...    ...
9151                         보자마자 ‘이파라파냐무냐무’를 외쳐대기 시작했다.      0
52974                   "그래서 나는""초기에는 신경이 쓰였는데 이젠 안 그래."      0
58737    "산토리니는 하루 관광객을 8,000명으로 제한하는 방안까지 검토하고 있다고 한다."      0
44759  "왜, 그 프로파일러 이수정씨도 이해할 수 없는 대상에 대해 두려움을 느낀다고 하지...      0
6822       가족 중 누군가가 지어준 소중한 이름이 초등학교를 들어가기 전까지는 마냥 좋았다.      0

[178044 rows x 2 columns]

<br/><br/>

### reset_index() 메서드를 사용하면 인덱싱이 다시 처음부터 리셋되어 내림차순으로 정렬된다.

In [ ]:
_random2

                                                 document  label
0                               세 개의 국경을 넘어 노르웨이에 도착했습니다.      1
1                          즉, 음악과 영상의 완성도가 다소 부족하다”고 말했다.      1
2         덩치 크고 쪽수 많다고 깡패처럼 덤벼도 예전처럼 당하고만 있을 우리의 체력이 아니다.      0
3        조금만 호기심을 가지고 멈추었더라면 프레임을 벗어나 멋진 세상을 만날 수 있었을 텐데.      0
4                  회신은 살아 생전에 다하지 못한 효도로 큰 자책감과 후회로 가득하다.      0
...                                                   ...    ...
178039    "남한+북한 배우들과의 대사에서 사건의 전개, 원인 이런게 얼마나 많이 나오는데!!"      0
178040           아마도 평생에 걸쳐도 '정답'이라고 할 만한 것은 찾지 못할지도 모른다.      0
178041  그리고 거기에는 아무도 없었습니다(기적처럼 느껴졌습니다). 다행히 비는 저녁이 되어...      1
178042                   당신이 남긴 추억과 사진이 일상에 얼마나 영향을 미치나요?      1
178043                                                  ,      0

[178044 rows x 2 columns]

In [ ]:
len_random_0 = _random1[_random1['label'] == 0]
len_random_1 = _random1[_random1['label'] == 1]

In [ ]:
len(len_random_0), len(len_random_1)

(89022, 89022)

In [ ]:
_random2

                                               document  label
0                              "다만 내 방식대로 슬프고, 기쁠 뿐이다."      0
1          "초등학교 시절은 잘 기억이 나지 않지만, 중학교 때 피구를 한 기억은 난다."      0
2                     길가다가 예쁜 곳이 있으면 다 같이 내려서 그곳을 감상한다.      0
3                       회사를 갔다오면 그때까지 하는 수업이 없어서 못했었다..      0
4                   내부 인테리어 중에서 눈에 띄는 것 천장에 매달린 책 조명이다.      0
...                                                 ...    ...
89017                        나에게 머무는성장통은앞으로도지속될 숙제와 같다,      0
89018           나는 정지 상태로 멀찍이 서서 한참동안 그들의 뷔페 타임을 바라보았다.      0
89019  어떤 체제를 자연스럽게 받아들이는 ‘순응’이라는 단어는 정말 무서운 단어라고 생각한다.      0
89020                  작가는 자신이 글을 쓸 때의 모습을 이렇게 표현한 거구나.      0
89021                          현재 글은 이 브런치북에 소속되어 있습니다.      0

[89022 rows x 2 columns]

In [ ]:
kogpt2_kcc150_3_result[kogpt2_kcc150_3_result['Label'] == 1]['ko']

In [ ]:
sample(frac=1).reset_index(drop=True)