<a href="https://colab.research.google.com/github/2pterons/twigfarm/blob/main/80%2C000_Train_Test_Validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%cd /content/drive/MyDrive/Colab Notebooks/트위그팜/자연스러운 한국어/data/cleaned/

/content/drive/MyDrive/Colab Notebooks/트위그팜/자연스러운 한국어/data/cleaned

In [ ]:
import pandas as pd
import pickle

In [ ]:
origin = pd.read_csv('test.0.csv')
trans = pd.read_csv('test.1.csv')

In [ ]:
origin.columns = ['original']
trans.columns = ['translated']

In [ ]:
origin

                                               original
0                              "물론, 나는 당시에 음식을 전혀 못했다."
1                             해먹은 음식은 모두 그 친구의 손을 거쳐갔다.
2                              어떻게 음식을 만드는지 구경만 했을 뿐이다.
3                          고기를 굽거나 야채 손질을 조금 도와주는 정도였다.
4                         전통시장인 '질료니 바자르'로 가기로 마음을 먹었다.
...                                                 ...
89017  남편이 좋아하는 작가 일 순위로 뽑는 히가시노 게이고의 신작 아닌 신작을 함께 읽었다.
89018                 '그녀는 다 계획이 있다'를 나는 별로 읽을 생각이 없었다.
89019                        그런데 곳곳에 히가시노 게이고의 펜들이 있었다.
89020     조금 두껍지만 술술 후루룩 뚝딱 읽고 처음 든 생각은 '생각보다 괜찮은데.'였다.
89021                             그리고 남편과 추억 이야기를 나누었다.

[89022 rows x 1 columns]

In [ ]:
train = pd.DataFrame()
test = pd.DataFrame()
val = pd.DataFrame()

In [ ]:
train['original'] = origin['original'][:53022]
train['translated'] = trans['translated'][:53022]

test['original'] = origin['original'][53022:71022]
#test['translated'] = trans['translated'][53022:71022]

val['original'] = origin['original'][71022:]
#val['translated'] = trans['translated'][71022:]

In [ ]:
len(train), len(test), len(val)

(53022, 18000, 18000)

In [ ]:
train.head()

                        original                             translated
0       "물론, 나는 당시에 음식을 전혀 못했다."          "당연히 그 당시에는 음식을 전혀 먹지 않았습니다."
1      해먹은 음식은 모두 그 친구의 손을 거쳐갔다.              해먹의 모든 음식은 친구의 손을 통과했습니다.
2       어떻게 음식을 만드는지 구경만 했을 뿐이다.                음식이 어떻게 만들어지는지 구경만 했어요.
3   고기를 굽거나 야채 손질을 조금 도와주는 정도였다.  고기를 굽거나 야채를 손질하는 데 조금 도움이 되기에 충분했습니다.
4  전통시장인 '질료니 바자르'로 가기로 마음을 먹었다.               재래시장 '질리오니 바자'에 가기로 했어요.

In [ ]:
test.head()

                                 original
53022  프랑스에서 로마로 넘어가기 전 스위스에서3일간머물기로 했어요.
53023               3일을 각각 다른 도시에서 머물렀어요.
53024    밤에 도착해서 다음날 낮에 떠나는 식으로 정말 바빴습니다.
53025          지금 생각하면 여행이라기보다 미션 수행이었네요.
53026              그래도 아직 그 모든 날들을 기억합니다.

In [ ]:
val.head()

                                                original
71022                 그들은 왜 그렇게 만날 궤변을 늘어놓고 피 터지게 싸워대는가.
71023  "그분들이 좀 교양 있게 싸워주길 바라지만 이게 우리나라 수준이라면 뭐, 안타까울 ...
71024  "우리는 특별한 경우가 아니고서야,나와 노선이 다른 상대방을 무조건 배척하며 살진않...
71025    "인간성과 사상은 다른 것이므로, 편한 사이이긴 해도 의견은 다를 수 있는 것이다."
71026                젊은이들이 정치에 무심하지 않다는 것 자체에 의의를 둬야 할까.

In [ ]:
train.to_csv('branch_train.csv',index=None)
test.to_csv('branch_test.csv',index=None)
val.to_csv('branch_val.csv',index=None)

In [ ]:
data = pd.read_csv('branch_train.csv')

In [ ]:
data

                                      original                                         translated
0                     "물론, 나는 당시에 음식을 전혀 못했다."                      "당연히 그 당시에는 음식을 전혀 먹지 않았습니다."
1                    해먹은 음식은 모두 그 친구의 손을 거쳐갔다.                          해먹의 모든 음식은 친구의 손을 통과했습니다.
2                     어떻게 음식을 만드는지 구경만 했을 뿐이다.                            음식이 어떻게 만들어지는지 구경만 했어요.
3                 고기를 굽거나 야채 손질을 조금 도와주는 정도였다.              고기를 굽거나 야채를 손질하는 데 조금 도움이 되기에 충분했습니다.
4                전통시장인 '질료니 바자르'로 가기로 마음을 먹었다.                           재래시장 '질리오니 바자'에 가기로 했어요.
...                                        ...                                                ...
53017            일과 후엔 새벽까지 여행 계획을 짜며 기분을 달랬죠.                      퇴근 후 새벽까지 여행을 계획하며 마음을 진정시켰다.
53018               평생 이렇게 긴 여행 기회가 또 없을 것 같고,                    내 인생에서 이렇게 긴 여행을 할 기회는 없을 것 같다.
53019  이왕 큰돈 쓰게 된 김에 본전의 몇 배는 안고 돌아가야 한다는 생각에,  이제 많은 돈을 써야 하니까 본당의 몇 배나 되는 규모로 돌아가야 한다는 생각이 들었다.
53020                  유럽에 있다는 자체가 그냥 다 좋았습니다.                                  유럽에 있는 것만으로도 좋았다.
53021             이탈리아에서 대학생 봉사캠프 참여하는 일정이었는데,                 이탈리아 대학생 자원봉사 캠프에 참가하기 위한 일정이었습니다.

[53022 rows x 2 columns]